PORT=3001

# Local (sem Docker)
MONGODB_URI=mongodb://localhost:27017/study-sprint
REDIS_URL=redis://localhost:6379

# Docker Compose (hosts internos da rede)
# MONGODB_URI=mongodb://mongo:27017/study-sprint
# REDIS_URL=redis://redis:6379

JWT_SECRET=seu_secret_aqui_mude_isso
JWT_EXPIRES_IN=7d
NODE_ENV=development
